{block heading}
    <h1 n:block="title">Vitejte v Informačnom systéme pre zdieľanie študijných materiálov.</h1>
{/block}

{block content}

    <div>
        <a n:href="Homepage:"><-- Späť</a>
    </div>

    {control postForm}

{/block}




