{block heading}
    <h1 n:block="title">Pridanie prispevku</h1>
{/block}

{block content}

    <div>
        <a n:href="Homepage:"><-- Späť</a>
    </div>

    <style>
    .required label { color: maroon }
    </style>

    {control postForm}

{/block}

