{block heading}
    <h1 n:block="title">Pridanie prispevku</h1>
{/block}

{block content}

    <div class="link">
        <a n:href="Teacher:userProfile $userId"><-- Späť</a>
    </div>

    {control teacherSubjectForm}

{/block}

