#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	authenticator: MyAuthenticator
	authorizator:
		class: Nette\Security\Permission
		setup:
			- addRole('teacher')
			- addRole('student')
			- addRole('admin')
			- addRole('guest')
			- addResource('Homepage')
			- addResource('Sign')
			- addResource('Teacher')
			- addResource('Post')
			- allow('teacher', 'Homepage')
			- allow('student', 'Homepage')
			- allow('admin', 'Homepage')
			- allow('guest', 'Homepage')
			- allow('teacher', 'Sign')
			- allow('student', 'Sign')
			- allow('admin', 'Sign')
			- allow('guest', 'Sign')
			- allow('teacher', 'Post')
			- allow('student', 'Post')
			- allow('admin', 'Post')
			- allow('guest', 'Post')
			- allow('teacher', 'Teacher')
			- allow('student', 'Teacher')
			- allow('admin', 'Teacher')
			- allow('guest', 'Teacher')
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\Service\PostService
	- App\Service\UserService
	- App\Service\CommentService
	- App\Service\SubjectService
	- App\Service\FileService
	#router: App\RouterFactory::createRouter
# TODO: disables cache, delete in production mode !!!
	cacheStorage:
		class: Nette\Caching\Storages\DevNullStorage
