{block heading}
    <h1 n:block="title">Vitejte v Informačnom systéme pre zdieľanie študijných materiálov.</h1>
{/block}

{block content}

    <p>
        Ak ešte nie ste registrovaný používateľ, registrujte sa --> <a n:href="Sign:registration">Registrácia</a>
    </p>

    <h2>Login: </h2>

    {control signInForm}

{/block}