{block heading}
    <h1 n:block="title">Vitejte v Informačnom systéme pre zdieľanie študijných materiálov.</h1>
{/block}

{block content}

    <div class="link">
        <a n:href="Sign:in"><-- Späť</a>
    </div>

    <h1>Registrácia: </h1>

    {control registrationForm}

{/block}